<section class="hero">
  <div class="container">
    <div class="hero-content">
      <h1>Deepak S</h1>
      <p>Frameworks change, tools evolve. Problem-solving is what endures. Not bound by tech stacks — I engineer solutions.</p> 
      <a routerLink="/contact" class="btn">Get in Touch</a>
    </div>
  </div>
</section>

<section class="timeline-section">
  <div class="container">
    <h2>My Journey</h2>
    <div class="timeline">
      <div class="timeline-event" *ngFor="let event of timelineEvents">
        <div class="timeline-year">{{event.year}}</div>
        <div class="timeline-content">
          <h3>{{event.title}}</h3>
          <p>{{event.description}}</p>
          <div class="achievements" *ngIf="event.achievements">
            <h4>Achievements</h4>
            <ul>
              <li *ngFor="let achievement of event.achievements; let i = index">
                {{achievement}}
                <span class="view-icon" (click)="openDriveLink(event.achievementLinks[i])" *ngIf="event.achievementLinks && event.achievementLinks[i]">
                  <span class="cartoon-eye">
                    <span class="eye-lid"></span>
                    <span class="eye-ball">
                      <span class="pupil"></span>
                    </span>
                  </span>
                </span>
              </li>
            </ul>
          </div>
          <div class="certifications" *ngIf="event.certifications">
            <h4>Certifications</h4>
            <ul>
              <li *ngFor="let certification of event.certifications; let i = index">
                {{certification}}
                <span class="view-icon" (click)="openDriveLink(event.certificationLinks[i])" *ngIf="event.certificationLinks && event.certificationLinks[i]">
                  <span class="cartoon-eye">
                    <span class="eye-lid"></span>
                    <span class="eye-ball">
                      <span class="pupil"></span>
                    </span>
                  </span>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="skills">
  <div class="container">
    <h2>Skills & Expertise</h2>
    <div class="skills-grid">
      <div class="skill-item">
        <h3>Frontend Development</h3>
        <p>Angular, React, Vue.js, HTML5, CSS3, JavaScript/TypeScript, Asp.net</p>
      </div>
      <div class="skill-item">
        <h3>Backend Development</h3>
        <p>C#, Vb.net, Java</p>
      </div>
      <div class="skill-item">
        <h3>UI/UX Design</h3>
        <p>SAP Crystal Reports, Figma, Responsive Design</p>
      </div>
      <div class="skill-item">
        <h3>Data Bases</h3>
        <p>SQL Server, My Sql, PosgreSql</p>
      </div>
       <div class="skill-item">
        <h3>Frameworks</h3>
        <p>ASP .Net Core MVC , Spring Boot</p>
      </div>
    </div>
  </div>
</section>